* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #191919;
}

.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5% auto;
}

.heading {
    display: flex;
    justify-content: center;
    color: #ff5757;
    margin-top: 3%;
    text-shadow: 5px 5px 7px rgba(255, 255, 255, 0.6);
}

#backBtn, #nextBtn {
    width: 50px;
    margin: 40px;
    cursor: pointer;
}